<script type="text/javascript" src="{{ "js/status.js" | absURL }}"></script>
<input type="hidden" name="uuid" value="{{ .Site.Params.uuid }}">
<input type="hidden" name="uuid_name" value="{{ .Site.Params.uuid_name }}">
<input type="hidden" name="recaptcha_sitekey" value="{{ .Site.Params.recaptcha_sitekey }}">

<div class=" row justify-content-center formcontainer" style="max-width: 750px;">
    <div class="col-lg-10 col-md-8">
        <div class="card-body pt-7 px-5">
                <div class="text-center">
                    <h3 class="">Data Subject Request</h3>
                    <div class="justify-content-center mt-4">
                        <i id="statusicon" class="p-1 mr-1 fas fa-3x"></i>
                        <div id="resultname" class="text-capitalize h4 mt-4"></div>
                        <div id="resultstatus" class="text-capitalize h4 mt-4"></div>
                    </div>
                </div>
                <div id="form"></div>                
        </div>
    </div>
</div>
<script>
    feather.replace()
</script>
{{ if eq .Site.Params.includeBootstrapJs true }}
<script src="{{ "js/jquery-3.3.1.slim.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
{{ end }}